/*================================================================================================================================ 
import-font
=============================================================================================================================== */
/*----------------------------------------------------------------------------------
 playfair-display-fonts
 --------------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/*----------------------------------------------------------------------------------
  poppin-font 
  -----------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*============================================================================================================================== 
global-css
============================================================================================================================= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*============================================================================================================================= 
common-section 
===============================================================================================================================*/
.container {
  max-width: 1710px;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  margin: 0 10px;
}

html {
  overflow-x: hidden;
}

.tittle-one {
  max-width: 410px;
  font-size: 153.2px;
  font-weight: 400;
  line-height: 100%;
  margin: 0 auto 15px;
  color: white;
  font-family: "Playfair Display", serif !important;
}

.sub-para {
  max-width: 224px;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  margin: 0 auto;
  color: white;
}

/*-------------------------------------------------------------
 color 
 ------------------------------------------------------------*/
:root {
  --primary-color: #a68268;
  --secoendary-color: #f2f2f2;
  --secoendary-color-silver: #e8e7e6;
  --tersiary-color: #f7f8fc;
  --text-color: #312319;
  --text-color-silver: #f7eede;
  --text-color-brown: #7f604a;
  --line-color: #dfcbbd;
}
/*================================================================================================================================
 header-section 
 ==============================================================================================================================*/
header {
  padding: 50px 0 10px;
}

.nav-search > img {
  max-width: 30px;
  width: 100%;
  object-fit: contain;
}

.nav-search {
  border: none;
  background: transparent;
}

.nav-search + input#search {
  border: none;
}

#search:focus {
  outline: none;
}

.navbar-brand > a > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.navbar-brand > a {
  max-width: 171px;
}
.navbar-brand {
  left: 50%;
  transform: translate(-50%, 25%);
}

.nav-item {
  margin-right: 32px;
}

.friends-btn > img {
  max-width: 30px;
  width: 100%;
  object-fit: contain;
  margin-left: 32px;
}

.cart-btn > img {
  max-width: 30px;
  width: 100%;
  object-fit: contain;
  margin-left: 32px;
}

.hrt-btn > img {
  max-width: 30px;
  width: 100%;
  object-fit: contain;
  margin-left: 42px;
}

.nav-right-right {
  margin-right: 150px;
}
.nav-link-a {
  margin-right: 5px;
}
.nav-link-b {
  margin-left: 50px;
}

.navbar-nav {
  flex-grow: 2;
}

/*-------------------------------------------------------------------------
 nav-link-hover-effect
 -------------------------------------------------------------------------- */
.nav-link {
  width: 90px;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color);
}

.nav-link::before {
  content: "";
  height: 8px;
  width: 0px;
  border-radius: 50%;
  background: var(--primary-color);
  position: absolute;
  top: 120%;
  left: 40%;
  transform: translate(-50%, -50%);
  transition: all 0.6s linear;
}

.nav-link:hover::before {
  width: 8px;
}

/*---------------------------------------------------------------- 
navbar-toggler
---------------------------------------------------------------- */
.navbar-toggler {
  border: 5px solid var(--primary-color);
}

/*-----------------------------------------------------------------
 offcanvas
 ---------------------------------------------------------------- */
.offcanvas-title {
  color: var(--primary-color);
  font-size: 32px;
  margin-right: 20px;
}

.btn-close {
  border: 5px solid var(--primary-color);
}
/*=========================================================================================================================== 
 bannner-section/hero-section
 ============================================================================================================================ */
.banner-section {
  min-height: 572px;
  background: url("../asset/images/Frame\ 212\ \(4\).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 62px;
}

/*============================================================================================================================== 
about-us-section 
===============================================================================================================================*/
.about-section {
  padding: 69px 0 216px;
}
.about-unic-card-one {
  max-width: 420px;
  height: 220px;
  padding: 20px 31px 23px;
  border-radius: 25px;
  color: black;
  background: white;
  box-shadow: 0 4px 8.6px var(--tersiary-color);
  border: 1px solid black;
  margin: 38px 0;
}

.about-unic-card-one > p > img {
  max-width: 23px;
  width: 100%;
  object-fit: contain;
  margin-right: 24px;
}

.about-unic-card-two {
  max-width: 420px;
  height: 110px;
  padding: 35px 31px 25px;
  border-radius: 25px;
  color: black;
  background: white;
  box-shadow: 0 4px 8.6px var(--tersiary-color);
  border: 1px solid black;
}

.unic-card-para {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  color: black;
  position: relative;
}

.unic-card-para::after {
  content: "";
  height: 1px;
  width: 84.01px;
  background: black;
  position: absolute;
  top: 150%;
  right: 70%;
}

/*-------------------------------------------------------
 about-card
 ----------------------------------------------------- */

.about-card {
  max-width: 439px;
  max-height: 501px;
  position: relative;
}

.about-card-unic {
  max-width: 439px;
  max-height: 501px;
  position: relative;
}

/*------------------------------------- 
about-img 
--------------------------------------*/

.about-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.about-img {
  max-width: 472px;
}
/*------------------------------------------------------- 
about-btm-card 
--------------------------------------------------------*/
.about-btm-card-one {
  max-width: 439px;
  /* padding: 30px 136px; */
  padding: 20px 54px 10px;
  border-radius: 40px;
  background: white;
  position: absolute;
  bottom: 5%;
  left: 11%;
}

.about-btm-card-two {
  max-width: 439px;
  /* padding: 30px 99px; */
  padding: 20px 28px 10px;
  border-radius: 40px;
  background: white;
  position: absolute;
  bottom: 5%;
  left: 6%;
}
.about-btm-card-three {
  max-width: 439px;
  /* padding: 30px 96px; */
  padding: 20px 26px 10px;
  border-radius: 40px;
  background: white;
  position: absolute;
  bottom: 5%;
  left: 7%;
}
.about-btm-card-four {
  max-width: 439px;
  /* padding: 30px 112px; */
  padding: 20px 34px 10px;
  border-radius: 40px;
  background: white;
  position: absolute;
  bottom: 5%;
  left: 9%;
}
.about-btm-card-five {
  max-width: 439px;
  /* padding: 30px 132px; */
  padding: 20px 54px 10px;
  border-radius: 40px;
  background: white;
  position: absolute;
  bottom: 5%;
  left: 10%;
}
.about-btm-card-six {
  max-width: 439px;
  /* padding: 30px 25px; */
  padding: 12px 05px 4px;
  border-radius: 40px;
  background: white;
  position: absolute;
  bottom: 5%;
}
.about-btm-card-seven {
  max-width: 439px;
  /* padding: 30px 90px; */
  padding: 20px 22px 10px;
  border-radius: 40px;
  background: white;
  position: absolute;
  bottom: 5%;
  left: 6%;
}
.about-btm-card-eight {
  max-width: 439px;
  /* padding: 30px 90px; */
  padding: 20px 24px 10px;
  border-radius: 40px;
  background: white;
  position: absolute;
  bottom: 5%;
  left: 6%;
}
.about-btm-card-nine {
  max-width: 439px;
  /* padding: 30px 130px; */
  padding: 20px 54px 10px;
  border-radius: 40px;
  background: white;
  position: absolute;
  bottom: 7%;
  left: 10%;
}
.about-btm-card-ten {
  max-width: 439px;
  /* padding: 30px 57px; */
  padding: 12px 20px 4px;
  border-radius: 40px;
  background: white;
  position: absolute;
  bottom: 8%;
  left: 4%;
}
.about-btm-card-eleven {
  max-width: 439px;
  /* padding: 30px 102px; */
  padding: 20px 24px 10px;
  border-radius: 40px;
  background: white;
  position: absolute;
  bottom: 9%;
  left: 8%;
}
.about-btm-card-twelve {
  max-width: 439px;
  /* padding: 30px 36px; */
  padding: 12px 18px 4px;
  border-radius: 40px;
  background: white;
  position: absolute;
  bottom: 10%;
  left: 6%;
}

.btm-card-para {
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
}

/*========================================================================================================================== 
    footer-section 
    ===========================================================================================================================*/
.footer-wrp {
  background: var(--secoendary-color);
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
  margin: 0 -10px;
}

.footer-wrp {
  padding: 138px 53px 52px;
  position: relative;
}

/*------------------------------- 
footer-brand 
--------------------------------*/

.footer-brand > a > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.footer-brand > a {
  max-width: 144px;
}

.footer-brand {
  max-width: 144px;
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translate(-50%, 25%);
}

/* pay-item */

.pay-item > a > img {
  max-width: 72px;
  width: 100%;
  object-fit: contain;
}
.pay-list{
  max-width:474px ;
}


.pay-item {
  max-width: 72px;
  margin-left: 8px;
  margin-bottom: 10px;
  transition: 0.6s linear;
}



.pay-item:hover{
  border: 2px solid var(--primary-color);
  
}

/*-------------------------------- 
socaial-icon 
--------------------------------*/

.social-icon > ul {
  max-width: 398px;
  margin: 0 auto;
}

.social-item {
  max-width: 34px;
  margin-right: 32px;
  position: relative;
}

.social-item > a > img {
  max-width: 34px;
  width: 100%;
  object-fit: contain;
}


.social-item::after {
  content: "";
  height: 6px;
  width: 0px;
  border-radius: 50%;
  background: var(--text-color);
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
    transition: all 0.6s linear;
  
}

.social-item:hover::after{
  width: 6px;
}


/*---------------------------------- 
footer-item
----------------------------------*/
.footer-item {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color) !important;
  margin-bottom: 50px;
}

.footer-link {
  color: var(--text-color);
}

.prior {
  display: inline-block;
  margin-right: 5px;
}

.main {
  margin-top: 60px;
}

.footer-hed {
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 30px;
  color: var(--text-color-brown);
}

.footer-para {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color-brown);
  margin-bottom: 54px;
}

.footer-third-part {
  margin-top: 42px;
  position: relative;
}

.footer-third-part::after {
  content: "";
  height: 1px;
  width: 1320px;
  background: var(--text-color-brown);
  position: absolute;
  top: 150%;
}

.footer-fourth-part {
  margin-top: 37px;
}

.footer-btm-para-one {
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
  color: black !important;
  margin-top: 15px;
}

.footer-btm-para-one > a {
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
  color: black !important;
  margin-top: 15px;
}

.footer-btm-para-two {
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
  color: black !important;
  margin-top: 15px;
}

.btm-one-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.btm-one-img {
  max-width: 35px;
  margin-right: 15px;
}

/*------------------------------------------------------------------------ 
footer-link-hover-effect
------------------------------------------------------------------------ */

.footer-item {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color) !important;
  margin-bottom: 50px;
}

.footer-link {
  color: var(--text-color);
  position: relative;
  transition: 0.6s linear;
}

.footer-link::before{
content: "";
height: 2px;
width: 0;
background: var(--text-color);
position: absolute;
top: 100%;
 transition: 0.6s linear;
}

.footer-link:hover{
color: var(--primary-color);
transition-delay: 0.6s;
}

.footer-link:hover::before{
  width: 100%;
}

/*******************************************************************************************************************************
  mediaQuries 
  ******************************************************************************************************************************/

/*=====================================================================================
   mediaQuries at 1400px
   ==================================================================================== */

@media screen and (max-width: 1400px) {
  /*--------------------------------------------------------------------- 
  header-section 
  -------------------------------------------------------------------*/

  .nav-item {
    margin-right: 0px;
    margin-left: 5px;
  }

  .friend-btn > img,
  .cart-btn > img,
  .hrt-btn > img {
    margin-left: 0px;
    margin-right: 10px;
  }

  .nav-right-right {
    margin-right: 40px;
  }

  .navbar-nav {
    margin-right: auto;
    flex-grow: 1;
  }

  .nav-link {
    font-size: 16px;
  }

  /*-------------------------------------------------------------------
 about-section
 ------------------------------------------------------------------ */

  .about-btm-card-one {
    left: 9%;
    padding: 20px 32px 10px;
  }

  .about-btm-card-two {
    left: -2%;
    padding: 20px 16px 10px;
  }

  .about-btm-card-three {
    left: -2%;
    padding: 20px 20px 10px;
  }

  .about-btm-card-four {
    left: -2%;
    padding: 20px 30px 10px;
  }

  .about-btm-card-five {
    padding: 20px 30px 10px;
  }

  .about-btm-card-six {
    padding: 10px 05px 5px;
  }

  .about-btm-card-seven {
    left: -2%;
    padding: 20px 08px 10px;
  }

  .about-btm-card-eight {
    padding: 15px 08px 05px;
  }

  .about-btm-card-nine {
    left: 11%;
    padding: 20px 24px 10px;
  }

  .about-btm-card-ten {
    padding: 10px 10px 05px;
  }

  .about-btm-card-eleven {
    left: -2%;
    padding: 20px 10px 10px;
  }

  .about-btm-card-twelve {
    left: -2%;
    padding: 10px 05px 05px;
  }

  /*-------------------------------------------------------------------- 
  footer-section 
  -------------------------------------------------------------------*/

  .footer-third-part::after {
    /* width: 1100px; */
    transform: translateX(-10%);
  }
}

/*=====================================================================================
   mediaQuries at 1200px
   ==================================================================================== */

@media screen and (max-width: 1200px) {
  /*--------------------------------------------------------------- 
comm0n-section
---------------------------------------------------------------- */
  .col-24 {
    width: 33.33%;
  }

  /*------------------------------------------------------------------ 
header-section 
--------------------------------------------------------------------*/
  .navbar-nav {
    margin: 0 auto;
  }
  .navbar-button {
    margin-top: 20px;
  }
  .friends-btn > img {
    margin-left: 0;
  }

  .navbar-toggler {
    margin-left: auto;
  }
  .nav-right-right {
    margin-right: 0;
  }
  .nav-link-a {
    margin-right: o;
  }
  .nav-link-b {
    margin-left: 0;
  }
  /*----------------------------------------------------------------------- 
about-section 
-----------------------------------------------------------------------*/
  .about-section {
    padding-bottom: 180px;
  }

  .about-btm-card-one {
    left: 9%;
    padding: 20px 60px 10px;
  }

  .about-btm-card-two {
    left: 10%;
    padding: 20px 24px 10px;
  }

  .about-btm-card-three {
    left: 10%;
    padding: 20px 20px 10px;
  }

  .about-btm-card-four {
    left: 10%;
    padding: 20px 34px 10px;
  }

  .about-btm-card-five {
    padding: 20px 54px 10px;
  }

  .about-btm-card-six {
    padding: 10px 05px 5px;
  }

  .about-btm-card-seven {
    left: 10%;
    padding: 20px 14px 10px;
  }

  .about-btm-card-eight {
    left: 11%;
    padding: 20px 16px 10px;
  }

  .about-btm-card-nine {
    left: 11%;
    padding: 20px 54px 10px;
  }

  .about-btm-card-ten {
    padding: 10px 10px 05px;
  }

  .about-btm-card-eleven {
    left: 10%;
    padding: 20px 18px 10px;
  }

  .about-btm-card-twelve {
    left: -2%;
    padding: 10px 02px 05px;
  }

  /*----------------------------------------------------------------- 
footer-section 
------------------------------------------------------------------*/
  .footer-secoend-part {
    text-align: center;
  }

  .pay-list {
    max-width: 474px;
    margin: 0 auto 20px;
  }
  .footer-brand {
    transform: translate(-50%, 60%);
  }

  .footer-third-part::after {
    /* width: 900px; */
  }
}
/*=====================================================================================
   mediaQuries at 992px
   ==================================================================================== */

@media screen and (max-width: 992px) {
  /*----------------------------------------------------------------------- 
about-section 
-----------------------------------------------------------------------*/
  .about-section {
    padding-bottom: 150px;
  }

  .about-img {
    max-width: 372px;
  }

  .about-btm-card-one {
    left: 17%;
    padding: 20px 60px 10px;
  }

  .about-btm-card-two {
    left: 17%;
    padding: 20px 24px 10px;
  }

  .about-btm-card-three {
    left: 18%;
    padding: 20px 20px 10px;
  }

  .about-btm-card-four {
    left: 18%;
    padding: 20px 34px 10px;
  }

  .about-btm-card-five {
    left: 18%;
    padding: 20px 54px 10px;
  }

  .about-btm-card-six {
    padding: 20px 15px 10px;
  }

  .about-btm-card-seven {
    left: 18%;
    padding: 20px 14px 10px;
  }

  .about-btm-card-eight {
    left: 17%;
    padding: 20px 16px 10px;
  }

  .about-btm-card-nine {
    left: 18%;
    padding: 20px 54px 10px;
  }

  .about-btm-card-ten {
    left: 10%;
    padding: 20px 10px 10px;
  }

  .about-btm-card-eleven {
    left: 18%;
    bottom: 5%;
    padding: 20px 18px 10px;
  }

  .about-btm-card-twelve {
    left: 9%;
    padding: 20px 04px 10px;
  }

  /*--------------------------------------------------------------------- 
  footer-section 
  ---------------------------------------------------------------------*/

  .footer-brand {
    transform: translate(-50%, 110%);
  }

  .main {
    margin-top: 20px;
  }

  .footer-third-part::after {
    /* width: 650px; */
  }
}

/*=====================================================================================
   mediaQuries at 768px
   ==================================================================================== */

@media screen and (max-width: 768px) {
  /*---------------------------------------------------------------
     common-section
     -------------------------------------------------------------- */
  .col-24 {
    width: 50%;
  }

  /*----------------------------------------------------------------------- 
about-section 
-----------------------------------------------------------------------*/
  .about-section {
    padding-bottom: 150px;
  }

  .btm-card-para {
    font-size: 14px;
  }

  .about-btm-card-one {
    left: 17%;
    padding: 20px 68px 10px;
  }

  .about-btm-card-two {
    left: 17%;
    padding: 20px 36px 10px;
  }

  .about-btm-card-three {
    left: 18%;
    padding: 20px 36px 10px;
  }

  .about-btm-card-four {
    left: 18%;
    padding: 20px 48px 10px;
  }

  .about-btm-card-five {
    left: 18%;
    padding: 20px 64px 10px;
  }

  .about-btm-card-six {
    left: 6%;
    padding: 20px 15px 10px;
  }

  .about-btm-card-seven {
    left: 18%;
    padding: 20px 28px 10px;
  }

  .about-btm-card-eight {
    left: 17%;
    padding: 20px 30px 10px;
  }

  .about-btm-card-nine {
    left: 18%;
    padding: 20px 64px 10px;
  }

  .about-btm-card-ten {
    left: 15%;
    padding: 20px 10px 10px;
  }

  .about-btm-card-eleven {
    left: 18%;
    bottom: 5%;
    padding: 20px 32px 10px;
  }

  .about-btm-card-twelve {
    left: 14%;
    padding: 20px 04px 10px;
  }

  /*------------------------------------------------------- 
  footer-section 
  --------------------------------------------------------*/

  .footer-brand {
    transform: translate(-50%, 110%);
  }

  .footer-third-part::after {
    /* width: 475px; */
  }
}

/*=====================================================================================
   mediaQuries at 576px
   ==================================================================================== */

@media screen and (max-width: 576px) {
  /*---------------------------------------------------------------
     common-section 
     ---------------------------------------------------------------*/
  .col-24 {
    width: 100%;
  }

  .tittle-one {
    font-size: 56px;
    margin: 0 auto 15px;
  }

  /*-----------------------------------------------------
   header-section
   ---------------------------------------------------- */

  .navbar-brand > a {
    max-width: 100px;
    transform: translate(-75%, 25%);
  }

  
  header {
    padding: 0;
  }


  /*---------------------------------------------------- 
  banner-section 
  ------------------------------------------------------*/
  .banner-section {
    min-height: 300px;
  }
  .sub-para {
    font-size: 20px;
  }
  /*----------------------------------------------------------------------- 
about-section 
-----------------------------------------------------------------------*/
  .about-section {
    padding-bottom: 100px;
  }
  .about-img {
    max-width: 600px;
  }

  .about-btm-card-one {
    left: 17%;
    padding: 20px 68px 10px;
    overflow: hidden;
  }

  .about-btm-card-two {
    left: 17%;
    padding: 20px 36px 10px;
  }

  .about-btm-card-three {
    left: 18%;
    padding: 20px 36px 10px;
  }

  .about-btm-card-four {
    left: 18%;
    padding: 20px 48px 10px;
  }

  .about-btm-card-five {
    left: 18%;
    padding: 20px 64px 10px;
  }

  .about-btm-card-six {
    left: 6%;
    padding: 20px 15px 10px;
  }

  .about-btm-card-seven {
    left: 18%;
    padding: 20px 28px 10px;
  }

  .about-btm-card-eight {
    left: 17%;
    padding: 20px 30px 10px;
  }

  .about-btm-card-nine {
    left: 18%;
    padding: 20px 64px 10px;
  }

  .about-btm-card-ten {
    left: 15%;
    padding: 20px 10px 10px;
  }

  .about-btm-card-eleven {
    left: 18%;
    bottom: 5%;
    padding: 20px 32px 10px;
  }

  .about-btm-card-twelve {
    left: 14%;
    padding: 20px 04px 10px;
  }

  /*--------------------------------------------------------- 
  footer-section
  ------------------------------------------------------- */

  .footer-brand {
    top: -15%;
    transform: translate(-50%, 90%);
  }

  .footer-item {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .footer-para {
    font-size: 16px;
  }

  .footer-third-part::after {
    top: 120%;
    /* width: 230px; */
  }

  .social-item {
    margin-right: 2px;
  }
  .footer-btm-para-one {
    font-size: 16px;
  }

  .footer-btm-para-one > a {
    font-size: 16px;
  }
  .footer-btm-para-two {
    font-size: 16px;
    margin-top: 5px;
  }

  .btm-one-img {
    margin-right: 2px;
  }
}

@media Screen and (max-width: 475px) {
  /*--------------------------------------------------------------- 
  about-section 
  ---------------------------------------------------------------*/
  .about-btm-card-one {
    left: 12%;
    padding: 20px 34px 10px;
  }

  .about-btm-card-two {
    left: 9%;
    padding: 20px 16px 10px;
  }

  .about-btm-card-three {
    left: 7%;
    padding: 20px 16px 10px;
  }

  .about-btm-card-four {
    left: 9%;
    padding: 20px 24px 10px;
  }

  .about-btm-card-five {
    left: 9%;
    padding: 20px 36px 10px;
  }

  .about-btm-card-six {
    left: 6%;
    padding: 10px 03px 05px;
  }

  .about-btm-card-seven {
    left: 4%;
    padding: 20px 18px 10px;
  }

  .about-btm-card-eight {
    left: 7%;
    padding: 10px 20px 05px;
  }

  .about-btm-card-nine {
    left: 10%;
    padding: 20px 34px 10px;
  }

  .about-btm-card-ten {
    left: 5%;
    padding: 20px 10px 10px;
  }

  .about-btm-card-eleven {
    left: 8%;
    bottom: 5%;
    padding: 14px 12px 05px;
  }

  .about-btm-card-twelve {
    left: 4%;
    padding: 10px 04px 05px;
  }
}
