/*================================================================================================================================ 
import-font
=============================================================================================================================== */
/*----------------------------------------------------------------------------------
 playfair-display-fonts
 --------------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/*----------------------------------------------------------------------------------
  poppin-font 
  -----------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*============================================================================================================================== 
global-css
============================================================================================================================= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*============================================================================================================================= 
common-section 
===============================================================================================================================*/
.container {
  max-width: 1710px;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  margin: 0 10px;
}

html {
  overflow-x: hidden;
}
:root {
  --primary-color: #a68268;
  --secoendary-color: #f2f2f2;
  --secoendary-color-silver: #e8e7e6;
  --tersiary-color: #f7f8fc;
  --text-color: #312319;
  --text-color-silver: #f7eede;
  --text-color-primary: #7f604a;
  --line-color: #dfcbbd;
  --tersiary-color-silver: #f4e9e0;
}
/*================================================================================================================================
 header-section 
 ==============================================================================================================================*/
header {
  padding: 50px 0 10px;
}

.nav-search > img {
  max-width: 30px;
  width: 100%;
  object-fit: contain;
}

.nav-search {
  border: none;
  background: transparent;
}

.nav-search + input#search {
  border: none;
}

#search:focus {
  outline: none;
}

.navbar-brand > a > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.navbar-brand > a {
  max-width: 171px;
}
.navbar-brand {
  left: 50%;
  transform: translate(-50%, 25%);
}

.nav-item {
  margin-right: 32px;
}

.friends-btn > img {
  max-width: 30px;
  width: 100%;
  object-fit: contain;
  margin-left: 32px;
}

.cart-btn > img {
  max-width: 30px;
  width: 100%;
  object-fit: contain;
  margin-left: 32px;
}

.hrt-btn > img {
  max-width: 30px;
  width: 100%;
  object-fit: contain;
  margin-left: 42px;
}

.nav-right-right {
  margin-right: 150px;
}
.nav-link-a {
  margin-right: 5px;
}
.nav-link-b {
  margin-left: 50px;
}

.navbar-nav {
  flex-grow: 2;
}

/*-------------------------------------------------------------------------
 nav-link-hover-effect
 -------------------------------------------------------------------------- */
.nav-link {
  width: 90px;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color);
}

.nav-link::before {
  content: "";
  height: 8px;
  width: 0px;
  border-radius: 50%;
  background: var(--primary-color);
  position: absolute;
  top: 120%;
  left: 40%;
  transform: translate(-50%, -50%);
  transition: all 0.6s linear;
}

.nav-link:hover::before {
  width: 8px;
}

/*---------------------------------------------------------------- 
navbar-toggler
---------------------------------------------------------------- */
.navbar-toggler {
  border: 5px solid var(--primary-color);
}

/*-----------------------------------------------------------------
 offcanvas
 ---------------------------------------------------------------- */
.offcanvas-title {
  color: var(--primary-color);
  font-size: 32px;
  margin-right: 20px;
}

.btn-close {
  border: 5px solid var(--primary-color);
}

/*=========================================================================================================================== 
 bannner-section/hero-section
 ============================================================================================================================ */
.banner-section {
  min-height: 572px;
  background: url("../asset/images/Frame\ 290.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 62px;
}
.tittle-one {
  max-width: 745px;
  margin: 0 auto 15px;
  font-size: 153.2px;
  font-weight: 400;
  line-height: 100%;
  color: white;
  font-family: "Playfair Display", serif !important;
}

.sub-para {
  max-width: 305px;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  color: white;
}

/*======================================================================================================================== 
form-section
========================================================================================================================== */
.form-section {
  padding: 210px 0 276px;
}

/*------------------------------------------------------- 
form-top
------------------------------------------------------ */

.form-top {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 30px;
  color: var(--text-color);
}

/*--------------------------------------------------------
 part-one 
 -------------------------------------------------------*/
.tittle-two {
  font-size: 57px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 70px;
  color: var(--text-color);
}

.tittle-two > span {
  font-size: 57px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 70px;
  color: var(--primary-color);
}
.form-card {
  max-width: 757px;
  max-height: 894px;
  padding: 126px 50px 218px 126px;
  border-radius: 25px;
  background: var(--tersiary-color-silver);
}

#name {
  min-width: 701px;
  min-height: 96px;
  padding: 43px 34px 43px;
  border: 1px solid var(--primary-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 31px;
}

#email {
  min-width: 701px;
  min-height: 95px;
  padding: 43px 34px 43px;
  border: 1px solid var(--primary-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 31px;
}

#message {
  min-width: 701px;
  min-height: 237px;
  padding: 43px 34px 43px;
  border: 1px solid var(--primary-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 88px;
}

.red-btn {
  max-width: 240px;
  padding: 21.5px 44.5px;
  border-radius: 40px;
  background: var(--tersiary-color-silver);
  color: var(--text-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  border: none;
}

/*------------------------------------------------------ 
part-two
------------------------------------------------------ */
.form-para {
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 17px;
}

.form-no {
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 27px;
}

.form-mail {
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  margin-top: 56px;
}

.form-sub-para-one {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 20px;
}

.form-sub-para-two {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 42px;
  position: relative;
}

.form-sub-para-two::after {
  content: "";
  height: 1px;
  width: 500px;
  background: var(--text-color);
  position: absolute;
  top: 200%;
  transform: translatex(-75%);
}

.first-no {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 9px;
  color: var(--text-color);
}

.secoend-no {
  margin-bottom: 42px;
  color: var(--text-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  position: relative;
}

.secoend-no > span {
  margin-bottom: 42px;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  position: relative;
}

.secoend-no::after {
  content: "";
  height: 1px;
  width: 500px;
  background: var(--text-color);
  position: absolute;
  top: 200%;
  transform: translatex(-32%);
}

/*=============================================================================================================================
  map-section
  ========================================================================================================================== */

.map-section {
  margin-bottom: 69px;
}

.map-section {
  min-height: 887px;
  background: url("../asset/images/Frame\ 295.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}

/*========================================================
 footer-section 
 =======================================================*/

.footer-section {
  background: var(--secoendary-color);
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
}

.footer-wrp {
  padding: 138px 53px 52px;
  position: relative;
}

/*------------------------------- 
footer-brand 
--------------------------------*/

.footer-brand > a > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.footer-brand > a {
  max-width: 144px;
}

.footer-brand {
  max-width: 144px;
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translate(-50%, 25%);
}

/* pay-item */

.pay-item > a > img {
  max-width: 72px;
  width: 100%;
  object-fit: contain;
}
.pay-list{
  max-width:474px ;
}


.pay-item {
  max-width: 72px;
  margin-left: 8px;
  margin-bottom: 10px;
  transition: 0.6s linear;
}



.pay-item:hover{
  border: 2px solid var(--primary-color);
  
}


/*-------------------------------- 
socaial-icon 
--------------------------------*/

.social-icon > ul {
  max-width: 298px;
  margin: 0 auto;
}

.social-item {
  max-width: 34px;
  margin-right: 32px;
  position: relative;
}

.social-item > a > img {
  max-width: 34px;
  width: 100%;
  object-fit: contain;
}

.social-item::after {
  content: "";
  height: 6px;
  width: 0px;
  border-radius: 50%;
  background: var(--text-color);
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.6s linear;
}

.social-item:hover::after {
  width: 6px;
}

/*---------------------------------- 
footer-item
----------------------------------*/
.footer-item {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 50px;
}

.footer-link {
  color: var(--text-color);
}

.prior {
  display: inline-block;
  margin-right: 5px;
}

.main {
  margin-top: 60px;
}

.footer-hed {
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 30px;
  color: var(--text-color-primary);
}

.footer-para {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color-primary);
  margin-bottom: 54px;
}

.footer-third-part {
  margin-top: 42px;
  position: relative;
}

.footer-third-part::after {
  content: "";
  height: 1px;
  width: 1320px;
  background: var(--text-color-primary);
  position: absolute;
  top: 150%;
}

.footer-fourth-part {
  margin-top: 37px;
}

.footer-btm-para-one {
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
  color: black !important;
  margin-top: 20px;
}

.footer-btm-para-one > a {
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
  color: black !important;
}

.footer-btm-para-two {
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
  color: black !important;
  margin-top: 20px;
}

.btm-one-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.btm-one-img {
  max-width: 35px;
  margin-right: 15px;
}

/*------------------------------------------------------------------------ 
footer-link-hover-effect
------------------------------------------------------------------------ */
.footer-item {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 50px;
}

.footer-link {
  color: var(--text-color);
  position: relative;
  transition: 0.6s linear;
}

.footer-link::before {
  content: "";
  height: 2px;
  width: 0;
  background: var(--text-color);
  position: absolute;
  top: 100%;
  transition: 0.6s linear;
}

.footer-link:hover {
  color: var(--primary-color);
  transition-delay: 0.6s;
}

.footer-link:hover::before {
  width: 100%;
}

/******************************************************************************************************************************
  mediaQuries 
  ******************************************************************************************************************************/

/*=====================================================================================
   mediaQuries at 1400px
   ==================================================================================== */

@media screen and (max-width: 1400px) {
  /*--------------------------------------------------------------------- 
  header-section 
  -------------------------------------------------------------------*/

  .nav-item {
    margin-right: 0px;
    margin-left: 5px;
  }

  .friend-btn > img,
  .cart-btn > img,
  .hrt-btn > img {
    margin-left: 0px;
    margin-right: 10px;
  }

  .nav-right-right {
    margin-right: 40px;
  }

  .navbar-nav {
    margin-right: auto;
    flex-grow: 1;
  }

  .nav-link {
    font-size: 16px;
  }

  /*--------------------------------------------------------------------
   form-section
   ------------------------------------------------------------------- */
  #name {
    min-width: 600px;
  }

  #email {
    min-width: 600px;
  }

  #message {
    min-width: 600px;
  }

  .form-sub-para-two::after {
    transform: translateX(-85%);
  }

  .secoend-no::after {
    transform: translateX(-40%);
  }

  /*-------------------------------------------------------------------- 
  footer-section 
  -------------------------------------------------------------------*/

  .footer-third-part::after {
    /* width: 1100px; */
    transform: translateX(-10%);
  }
}

/*=====================================================================================
   mediaQuries at 1200px
   ==================================================================================== */

@media screen and (max-width: 1200px) {
  /*--------------------------------------------------------------- 
comm0n-section
------------------------------------------------------------------ */
  .col-24 {
    width: 33.33%;
  }

  /*------------------------------------------------------------------ 
header-section 
--------------------------------------------------------------------*/

  .navbar-nav {
    margin: 0 auto;
  }
  .navbar-button {
    margin-top: 20px;
  }
  .friends-btn > img {
    margin-left: 0;
  }

  .navbar-toggler {
    margin-left: auto;
  }
  .nav-right-right {
    margin-right: 0;
  }
  .nav-link-a {
    margin-right: o;
  }
  .nav-link-b {
    margin-left: 0;
  }

  /*--------------------------------------------------------------------
   form-section
   ------------------------------------------------------------------- */
  .form-top {
    text-align: center;
  }
  .form-section {
    padding: 150px 0 156px;
  }

  .red-btn {
    margin-bottom: 20px;
  }

  .secoend-no::after {
    transform: translateX(-65%);
  }

  form {
    text-align: center;
  }

  #name {
    min-width: 900px;
  }

  #email {
    min-width: 900px;
  }

  #message {
    min-width: 900px;
  }
  .form-card {
    padding: 100px 50px;
  }

  /*----------------------------------------------------------------- 
footer-section 
------------------------------------------------------------------*/
  .pay-list {
    max-width: 474px;
    margin: 0 auto 20px;
  }

  .footer-secoend-part {
    text-align: center;
  }
  .footer-brand {
    transform: translate(-50%, 60%);
  }

  .footer-third-part::after {
    /* width: 900px; */
  }
}

/*=====================================================================================
   mediaQuries at 992px
   ==================================================================================== */

@media screen and (max-width: 992px) {
  /*--------------------------------------------------------------------
   form-section
   ------------------------------------------------------------------- */

  .form-section {
    padding: 120px 0 126px;
  }
  #name {
    min-width: 730px;
  }

  #email {
    min-width: 730px;
  }

  #message {
    min-width: 730px;
    margin-bottom: 40px;
  }

  .form-card {
    margin-top: 40px;
  }
  /*--------------------------------------------------------------------- 
  footer-section 
  ---------------------------------------------------------------------*/

  .footer-brand {
    transform: translate(-50%, 110%);
  }

  .main {
    margin-top: 20px;
  }

  .footer-third-part::after {
    /* width: 650px; */
  }
}

/*=====================================================================================
   mediaQuries at 768px
   ==================================================================================== */

@media screen and (max-width: 768px) {
  /*---------------------------------------------------------------
     common-section
     -------------------------------------------------------------- */
  .col-24 {
    width: 50%;
  }

  .tittle-one {
    font-size: 72px;
    max-width: 400px;
    margin: 0 auto;
  }

  /*--------------------------------------------------------------
   banner-section
   ------------------------------------------------------------- */

  .sub-para {
    max-width: 260px;
    margin: 0 auto;
    font-size: 24px;
  }

  /*--------------------------------------------------------------------
   form-section
   ------------------------------------------------------------------- */
  .title-two {
    font-size: 36px;
  }

  .tittle-two > span {
    font-size: 36px;
  }

  .form-section {
    padding: 126px 0 126px;
  }
  #name {
    min-width: 540px;
  }

  #email {
    min-width: 540px;
  }

  #message {
    min-width: 540px;
    min-height: 250px;
  }

  .form-sub-para-two::after {
    width: 400px;
    transform: translatex(-95%);
  }

  .secoend-no::after {
    width: 400px;
    transform: translate(-70%);
  }

  /*--------------------------------------------------------
   map-section
   -------------------------------------------------------- */
  .map-section {
    margin-bottom: 75px;
  }

  /*------------------------------------------------------- 
  footer-section 
  --------------------------------------------------------*/

  .footer-brand {
    transform: translate(-50%, 110%);
  }

  .footer-third-part::after {
    /* width: 475px; */
  }
}

/*=====================================================================================
   mediaQuries at 576px
   ==================================================================================== */

@media screen and (max-width: 576px) {
  /*---------------------------------------------------------------
     common-section 
     ---------------------------------------------------------------*/
  .col-24 {
    width: 100%;
  }

  .tittle-one {
    font-size: 42px;
    max-width: 220px;
    margin: 0 auto;
  }

  /*----------------------------------------------------------------- 
  header-section 
  -----------------------------------------------------------------*/

  .navbar-brand > a {
    max-width: 100px;
    transform: translate(-75%, 25%);
  }

  header {
    padding: 0;
  }

  /*----------------------------------------------------------------
   banner-section 
   ---------------------------------------------------------------*/

  .banner-section {
    min-height: 400px;
  }

  .sub-para {
    max-width: 160px;
    margin: 0 auto;
    font-size: 16px;
  }

  /*---------------------------------------------------
   banner-section
   ---------------------------------------------------- */

  .banner-section {
    min-height: 400px;
  }
  /*--------------------------------------------------------------------
   form-section
   ------------------------------------------------------------------- */
  .form-section {
    padding: 80px 0 80px;
  }

  .form-top {
    font-size: 18px;
  }

  .tittle-two {
    font-size: 30px;
  }

  .tittle-two > span {
    font-size: 30px;
  }

  form {
    text-align: center;
  }

  .nav-form {
    text-align: left;
  }
  #name {
    min-width: 250px;
    font-size: 16px;
  }

  #email {
    min-width: 250px;
    font-size: 16px;
  }

  #message {
    min-width: 250px;
    min-height: 200px;
    font-size: 16px;
  }

  .red-btn {
    padding: 12px 24px;
    font-size: 18px;
  }
  .form-card {
    padding: 50px 30px;
  }

  .form-sub-para-one {
    font-size: 10px;
  }

  .form-sub-para-two {
    font-size: 10px;
  }

  .form-sub-para-two::after {
    width: 220px;
    transform: translateX(-88%);
  }

  .secoend-no::after {
    width: 220px;

    transform: translate(-80%);
  }

  .form-para {
    font-size: 20px;
  }

  .form-no {
    font-size: 20px;
  }

  .form-mail {
    font-size: 20px;
  }

  .first-no {
    font-size: 18px;
  }

  .secoend-no {
    font-size: 18px;
  }

  .secoend-no > a {
    font-size: 18px;
  }

  /*--------------------------------------------------------
   map-section
   -------------------------------------------------------- */
  .map-section {
    margin-bottom: 80px;
  }

  /*--------------------------------------------------------- 
  footer-section
  ------------------------------------------------------- */

  .footer-brand {
    top: -15%;
    transform: translate(-50%, 90%);
  }

  .footer-item {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .footer-para {
    font-size: 16px;
  }

  .footer-third-part::after {
    top: 120%;
    /* width: 230px; */
  }

  .social-item {
    margin-right: 4px;
  }
  .footer-btm-para-one {
    font-size: 16px;
  }

  .footer-btm-para-two {
    font-size: 16px;
    margin-top: 5px;
  }

  .footer-btm-para-one > a {
    font-size: 16px;
  }

  .btm-one-img {
    margin-right: 2px;
  }
}
