/*================================================================================================================================ 
import-font
=============================================================================================================================== */
/*----------------------------------------------------------------------------------
 playfair-display-fonts
 --------------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/*----------------------------------------------------------------------------------
  poppin-font 
  -----------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*============================================================================================================================== 
global-css
============================================================================================================================= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*===============================================================================================================================
 common-section 
 ===============================================================================================================================*/
.container {
  max-width: 1710px;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  margin: 0 10px;
}

html {
  overflow-x: hidden;
}

.tittle-one {
  max-width: 546px;
  font-size: 153.2px;
  font-weight: 400;
  line-height: 100%;
  margin: 0 auto;
  color: white;
  font-family: "Playfair Display", serif !important;
}

/*-----------------------------------------------------
 color
 ------------------------------------------------------ */
:root {
  --primary-color: #a68268;
  --secoendary-color: #f2f2f2;
  --secoendary-color-silver: #e8e7e6;
  --tersiary-color: #f7f8fc;
  --text-color: #312319;
  --text-color-silver: #f7eede;
  --text-color-brown: #7f604a;
  --line-color: #dfcbbd;
  --tersiary-color-silver: #f4e9e0;
  --btn-color: #dfcbbd;
}

/*================================================================================================================================
 header-section 
 ==============================================================================================================================*/
header {
  padding: 50px 0 10px;
}

.nav-search > img {
  max-width: 30px;
  width: 100%;
  object-fit: contain;
}

.nav-search {
  border: none;
  background: transparent;
}

.nav-search + input#search {
  border: none;
}

#search:focus {
  outline: none;
}

.navbar-brand > a > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.navbar-brand > a {
  max-width: 171px;
}
.navbar-brand {
  left: 50%;
  transform: translate(-50%, 25%);
}

.nav-item {
  margin-right: 32px;
}

.friends-btn > img {
  max-width: 30px;
  width: 100%;
  object-fit: contain;
  margin-left: 32px;
}

.cart-btn > img {
  max-width: 30px;
  width: 100%;
  object-fit: contain;
  margin-left: 32px;
}

.hrt-btn > img {
  max-width: 30px;
  width: 100%;
  object-fit: contain;
  margin-left: 42px;
}

.nav-right-right {
  margin-right: 150px;
}
.nav-link-a {
  margin-right: 5px;
}
.nav-link-b {
  margin-left: 50px;
}

.navbar-nav {
  flex-grow: 2;
}

/*-------------------------------------------------------------------------
 nav-link-hover-effect
 -------------------------------------------------------------------------- */
.nav-link {
  width: 90px;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color);
}

.nav-link::before {
  content: "";
  height: 8px;
  width: 0px;
  border-radius: 50%;
  background: var(--primary-color);
  position: absolute;
  top: 120%;
  left: 40%;
  transform: translate(-50%, -50%);
  transition: all 0.6s linear;
}

.nav-link:hover::before {
  width: 8px;
}

/*---------------------------------------------------------------- 
navbar-toggler
---------------------------------------------------------------- */
.navbar-toggler {
  border: 5px solid var(--primary-color);
}

/*-----------------------------------------------------------------
 offcanvas
 ---------------------------------------------------------------- */
.offcanvas-title {
  color: var(--primary-color);
  font-size: 32px;
  margin-right: 20px;
}

.btn-close {
  border: 5px solid var(--primary-color);
}
/*=========================================================================================================================== 
 bannner-section/hero-section
 ============================================================================================================================ */
.banner-section {
  min-height: 572px;
  background: url("../asset/images/Frame\ 212\ \(2\).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 62px;
}

.tittle-one {
  max-width: 546px;
  font-size: 153.2px;
  font-weight: 400;
  line-height: 100%;
  margin: 0 auto;
  color: white;
  font-family: "Playfair Display", serif !important;
  margin-bottom: 5px;
}

.banner-para {
  max-width: 252px;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  margin: 0 auto;
  color: white;
}
/*=============================================================================================================================== 
about-section 
================================================================================================================================*/
.about-section {
  padding-top: 125px;
}

/*-------------------------------------------------------
 about-first-part 
 -------------------------------------------------------*/
.about-card {
  max-width: 415px;
  max-height: 715px;
  margin-top: 123px;
}

.about-cntn {
  max-width: 415px;
}

.first-card {
  max-width: 509px;
  max-height: 237px;
  padding: 49px;
  border-radius: 40px;
  border: 1px solid var(--primary-color);
  margin-bottom: 33px;
}

.secoend-card {
  max-width: 509px;
  max-height: 425px;
  padding: 49px;
  border-radius: 40px;
  border: 1px solid var(--primary-color);
  margin-bottom: 33px;
}

.third-card {
  max-width: 509px;
  max-height: 426px;
  padding: 49px;
  border-radius: 40px;
  border: 1px solid var(--primary-color);
  margin-bottom: 33px;
}

.fourth-card {
  max-width: 509px;
  max-height: 1419px;
  padding: 49px;
  border-radius: 40px;
  border: 1px solid var(--primary-color);
}

.about-small-card-img > img {
  max-width: 105px;
  width: 100%;
  object-fit: contain;
  margin: 0 auto;
}

.about-small-card-img {
  min-height: fit-content;
  background: url("../asset/images/Frame\ 238.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  padding: 20px;
}

.small-card-cntn {
  max-width: 299px;
  margin-left: 38px;
}

/*------------------------------------------------------- 
about-fist-part-button
-------------------------------------------------------- */
.search-for-btn {
  min-width: 411px;
  max-height: 58px;
  padding: 11px 22px;
  border-radius: 20px;
  background: var(--tersiary-color-silver);
  font-size: 20px;
  font-weight: 300;
  line-height: 100%;
  color: var(--text-color);
  margin-bottom: 23px;
}

.search-pdt-btn {
  max-width: 411px;
  max-height: 58px;
  padding: 11px 22px 11px;
  border-radius: 20px;
  border: 1px solid var(--tersiary-color-silver);
  font-size: 20px;
  font-weight: 300;
  line-height: 100%;
  color: var(--primary-color);
}

.search-pdt-btn > img {
  max-width: 29px;
  width: 100%;
  object-fit: contain;
}

.color-no {
  margin-top: 61px;
  font-size: 20px;
  font-weight: 300;
  line-height: 100%;
}

.first-item,
.secoend-item {
  margin-bottom: 59px;
}

.color-btn {
  min-width: 411px;
  max-height: 58px;
  padding: 11px 22px;
  border-radius: 20px;
  background: var(--tersiary-color-silver);
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color);
}

.price-button {
  min-width: 411px;
  max-height: 58px;
  border: none;
  padding: 11px 22px;
  border-radius: 20px;
  background: var(--tersiary-color-silver);
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  color: black;
  margin-bottom: 51px;
}

.radio-btn > img {
  max-width: 374px;
  width: 100%;
  object-fit: contain;
}

.radio-btn {
  max-width: 385px;
}

.price-para {
  margin: 61px 0 50px;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
}

.filter-btn {
  min-width: 202px;
  max-height: 78px;
  padding: 21px 57px;
  border-radius: 20px;
  background: var(--tersiary-color-silver);
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--text-color);
  border: none;
}

.rec-btn {
  min-width: 411px;
  max-height: 58px;
  padding: 11px 22px;
  border-radius: 20px;
  background: var(--tersiary-color-silver);
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
  text-transform: capitalize;
  color: black;
  border: none;
  margin-bottom: 89px;
}

/*-------------------------------------------------------- 
about-secoend-part
------------------------------------------------------- */

.about-card {
  max-width: 415px;
  max-height: 530px;
  text-align: center;
}
.about-img {
  max-width: 1279px;
}

.about-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.about-btn {
  position: relative;
}

.btn-para {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: var(--primary-color);
  margin-top: 166px;
}

.about-btn::after {
  content: "";
  width: 1279px;
  height: 1px;
  background: var(--primary-color);
  position: absolute;
}

.about-one {
  min-width: 106px;
  max-height: 51px;
  padding: 8px 35px;
  border: 1px solid var(--primary-color);
  margin-top: 24px;
  margin-right: 14px;
  margin-bottom: 47px;
}

.about-one > img {
  max-width: 35px;
  width: 100%;
  object-fit: contain;
}

.about-two {
  min-width: 255px;
  max-height: 79px;
  padding: 21px 18px;
  border: 1px solid var(--primary-color);
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
  color: var(--primary-color);
}

.about-two > img {
  max-width: 24px;
  width: 100%;
  object-fit: contain;
}
/* about-card */
.about-card-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.about-card-img {
  max-width: 415px;
  height: 400px;
  background: var(--tersiary-color-silver) !important;
  border-radius: 20px;
  margin-bottom: 26px;
}

.about-sign > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.about-sign {
  max-width: 178px;
  margin: 0 auto;
}

.about-sm-para {
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
  color: black;
  margin-bottom: 14px;
}

.about-sm-sub {
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
  color: var(--primary-color);
  margin-top: 11px;
}

/*======================================================================================================================== 
    offer-section 
    ===========================================================================================================================*/
.offer-section {
  padding: 162px 0 238px;
}

/*------------------------------------------------------------------------- 
offer-card
------------------------------------------------------------------------ */
.offer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.offer-card::after {
  content: "";
  height: 206px;
  width: 1px;
  background: var(--secoendary-color-silver);
  position: absolute;
  left: 105%;
}

/*--------------------------------------------
 offer-card-img-one 
 -------------------------------------------*/

.offer-card-img-one {
  max-width: 106px;
}

.offer-card-img-one > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/*------------------------------------------- 
offer-card-img-two 
--------------------------------------------*/

.offer-card-img-two {
  max-width: 104px;
}
.offer-card-img-two > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/*---------------------------------------------
 offer-card-img-three 
 ---------------------------------------------*/

.offer-card-img-three {
  max-width: 119px;
}
.offer-card-img-three > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/*---------------------------------------------
 offer-card-img-four 
 --------------------------------------------*/

.offer-card-img-four {
  max-width: 108px;
}
.offer-card-img-four > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/*---------------------------------------------- 
offer-card-para & sub-para 
-----------------------------------------------*/

.offer-para {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color);
  margin-bottom: 6px;
}

.offer-sub-para {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: black;
}

/*========================================================================================================== 
footer-section
=========================================================================================================== */

.footer-section {
  background: var(--secoendary-color);
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
}

.footer-wrp {
  padding: 138px 53px 52px;
  position: relative;
}

/*------------------------------- 
footer-brand 
--------------------------------*/

.footer-brand > a > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.footer-brand > a {
  max-width: 144px;
}

.footer-brand {
  max-width: 144px;
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translate(-50%, 25%);
}

.pay-list{
  max-width:474px ;
}


.pay-item {
  max-width: 72px;
  margin-left: 8px;
  margin-bottom: 10px;
  transition: 0.6s linear;
}

.pay-item > a > img {
  max-width: 72px;
  width: 100%;
  object-fit: contain;
}

.pay-item:hover{
  border: 2px solid var(--primary-color);
  
}

/*-------------------------------- 
socaial-icon 
--------------------------------*/

.social-icon > ul {
  max-width: 298px;
  margin: 0 auto;
}

.social-item {
  max-width: 34px;
  margin-right: 32px;
  position: relative;
}

.social-item > a > img {
  max-width: 34px;
  width: 100%;
  object-fit: contain;
}

.social-item::after {
  content: "";
  height: 6px;
  width: 0px;
  border-radius: 50%;
  background: var(--text-color);
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.6s linear;
}

.social-item:hover::after {
  width: 6px;
}

/*---------------------------------- 
footer-item
----------------------------------*/
.footer-item {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 50px;
}

.footer-link {
  color: var(--text-color);
}

.prior {
  display: inline-block;
  margin-right: 5px;
}

.main {
  margin-top: 60px;
}

.footer-hed {
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 30px;
  color: var(--text-color-brown);
}

.footer-para {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color-brown);
  margin-bottom: 54px;
}

.footer-third-part {
  margin-top: 42px;
  position: relative;
}

.footer-third-part::after {
  content: "";
  height: 1px;
  width: 1320px;
  background: var(--text-color-brown);
  position: absolute;
  top: 150%;
}

.footer-fourth-part {
  margin-top: 37px;
}

.footer-btm-para-one {
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
  color: black !important;
  margin-top: 20px;
}

.footer-btm-para-two {
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
  color: black !important;
  margin-top: 20px;
}

.footer-btm-para-one > a {
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
  color: black !important;
}

.btm-one-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.btm-one-img {
  max-width: 35px;
  margin-right: 15px;
}

/*------------------------------------------------------------------------ 
footer-link-hover-effect
------------------------------------------------------------------------ */
.footer-item {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 50px;
}

.footer-link {
  color: var(--text-color);
  position: relative;
  transition: 0.6s linear;
}

.footer-link::before {
  content: "";
  height: 2px;
  width: 0;
  background: var(--text-color);
  position: absolute;
  top: 100%;
  transition: 0.6s linear;
}

.footer-link:hover {
  color: var(--primary-color);
  transition-delay: 0.6s;
}

.footer-link:hover::before {
  width:100%;
}



/******************************************************************************************************************************
  mediaQuries 
  ******************************************************************************************************************************/

/*=====================================================================================
   mediaQuries at 1400px
   ==================================================================================== */

@media screen and (max-width: 1400px) {
  /*--------------------------------------------------------------------- 
  header-section 
  -------------------------------------------------------------------*/
  .nav-item {
    margin-right: 0px;
    margin-left: 5px;
  }

  .friend-btn > img,
  .cart-btn > img,
  .hrt-btn > img {
    margin-left: 0px;
    margin-right: 10px;
  }

  .nav-right-right {
    margin-right: 40px;
  }

  .navbar-nav {
    margin-right: auto;
    flex-grow: 1;
  }

  .nav-link {
    font-size: 16px;
  }

  /*----------------------------------------------------- 
  about-section
  ---------------------------------------------------- */

  .search-for-btn {
    min-width: 300px;
  }

  .search-pdt-btn {
    max-width: 300px;
  }

  .color-btn {
    min-width: 300px;
  }

  .price-button {
    min-width: 300px;
  }

  .price-btn::after {
    width: 280px;
    transform: translateX(-60%);
  }

  .rec-btn {
    min-width: 300px;
  }

  .about-two {
    margin-top: 0;
  }

  /*----------------------------------------------------------------- 
  footer-section 
  ----------------------------------------------------------------*/

  .footer-third-part::after {
    /* width: 1100px; */
    transform: translateX(-10%);
  }
}

/*=====================================================================================
   mediaQuries at 1200px
   ==================================================================================== */

@media screen and (max-width: 1200px) {
  /*--------------------------------------------------------------- 
comm0n-section
---------------------------------------------------------------- */
  .col-24 {
    width: 33.33%;
  }

  .tittle-one {
    font-size: 122px;
  }

  /*------------------------------------------------------------------ 
header-section 
--------------------------------------------------------------------*/

  .navbar-nav {
    margin: 0 auto;
  }
  .navbar-button {
    margin-top: 20px;
  }
  .friends-btn > img {
    margin-left: 0;
  }

  .navbar-toggler {
    margin-left: auto;
  }
  .nav-right-right {
    margin-right: 0;
  }
  .nav-link-a {
    margin-right: o;
  }
  .nav-link-b {
    margin-left: 0;
  }

  /*----------------------------------------------------- 
  about-section
  ---------------------------------------------------- */

  .search-for-btn {
    min-width: 500px;
  }

  .search-pdt-btn {
    max-width: 500px;
  }

  .color-btn {
    min-width: 500px;
  }

  .price-btn {
    min-width: 500px;
  }

  .price-btn::after {
    width: 480px;
    transform: translateX(-36%);
  }

  .rec-btn {
    min-width: 400px;
  }

  /*------------------------------------------------------------------ 
  about-section
  ------------------------------------------------------------------- */

  .first-card {
    max-width: 1050px;
    max-height: 237px;
  }
  .secoend-card {
    max-width: 1050px;
  }

  .third-card {
    max-width: 1050px;
  }

  .fourth-card {
    max-width: 1050px;
    margin-bottom: 20px;
  }

  .btn-para {
    margin-top: 30px;
  }

  .about-sm-para {
    font-size: 18px;
  }

  .about-sm-sub {
    font-size: 16px;
  }

  .about-sign {
    max-width: 120px;
  }

  /*----------------------------------------------------------------- 
footer-section 
------------------------------------------------------------------*/
  .pay-list {
    max-width: 474px;
    margin: 0 auto 20px;
  }

  .footer-secoend-part {
    text-align: center;
  }
  .footer-brand {
    transform: translate(-50%, 60%);
  }
}

/*=====================================================================================
   mediaQuries at 992px
   ==================================================================================== */

@media screen and (max-width: 992px) {
  /*----------------------------------------------------------------
   common-section
   --------------------------------------------------------------- */
  .tittle-one {
    font-size: 92px;
    text-align: center;
  }

  /*------------------------------------------------------- 
  about-section 
  -----------------------------------------------------*/
  .btn-para {
    margin-top: 120px;
  }

  /*--------------------------------------------------------------------- 
  footer-section 
  ---------------------------------------------------------------------*/

  .footer-brand {
    transform: translate(-50%, 110%);
  }

  .main {
    margin-top: 20px;
  }
}

/*=====================================================================================
   mediaQuries at 768px
   ==================================================================================== */

@media screen and (max-width: 768px) {
  /*---------------------------------------------------------------
     common-section
     -------------------------------------------------------------- */
  .col-24 {
    width: 50%;
  }

  .tittle-one {
    font-size: 72px;
  }

  /* about-section */

  .about-two {
    min-width: 130px;
  }

  /*----------------------------------------------------
   offer-section 
   ----------------------------------------------------*/

  .offer-section {
    padding: 80px 0 120px;
  }
  .offer-card {
    margin-bottom: 20px;
  }

  /*------------------------------------------------------- 
  footer-section 
  --------------------------------------------------------*/

  .footer-brand {
    transform: translate(-50%, 110%);
  }

  .footer-third-part::after {
    /* width: 475px; */
  }
}

/*=====================================================================================
   mediaQuries at 576px
   ==================================================================================== */

@media screen and (max-width: 576px) {
  /*---------------------------------------------------------------
     common-section 
     ---------------------------------------------------------------*/
  .col-24 {
    width: 100%;
  }

  .tittle-one {
    font-size: 64px;
  }

  /*---------------------------------------------------- 
  header-section
  ---------------------------------------------------- */

  .navbar-brand > a {
    max-width: 100px;
    transform: translate(-75%, 25%);
  }
  header {
    padding: 0;
  }

  /*-----------------------------------------------------------
   banner-section
   ---------------------------------------------------------- */
  .banner-section {
    min-height: 400px;
  }

  .banner-para {
    font-size: 24px;
    text-align: center;
  }

  /*---------------------------------------------------------------- 
  about-section
  ----------------------------------------------------------------- */
  .about-section {
    padding-top: 80px;
  }
  .first-card {
    padding: 30px;
  }

  .secoend-card {
    padding: 30px;
  }

  .third-card {
    padding: 30px;
  }

  .fourth-card {
    padding: 30px 10px 50px;
  }
  .search-for-btn {
    min-width: 230px;
    font-size: 16px;
    text-align: center;
  }

  .search-pdt-btn {
    max-width: 230px;
    font-size: 16px;
    text-align: center;
  }

  .color-btn {
    min-width: 230px;
    font-size: 18px;
    text-align: center;
  }

  /* form{
    text-align: center;
  } */

  .price-button {
    min-width: 230px;
    font-size: 18px;
  }

  .radio-btn > img {
    max-width: 200px;
  }

  /* .radio-btn {
    max-width: 220px;
    margin: 0 auto;
  } */

  /* .price-para {
    text-align: center;
  } */

  .rec-btn {
    min-width: 230px;
    font-size: 18px;
    margin-bottom: 40px;
  }

  .filter-btn {
    min-width: 130px;
    font-size: 18px;
  }

  /* form {
    text-align: center;
  } */

  .first-item,
  .secoend-item {
    margin-bottom: 30px;
  }

  .fourth-card {
    max-height: 1800px;
  }

  .about-small-card {
    flex-direction: column;
  }

  .about-card {
    margin-top: 50px;
  }

  .about-card-img {
    margin-bottom: 40px;
  }

  .about-img {
    margin-top: 20px;
  }

  .about-card-img {
    max-width: 200px;
    margin: 0 auto 20px;
  }

  .small-card-cntn {
    margin: 0 auto 20px;
  }

  .about-two {
    margin-top: 20px;
  }

  .btn-para {
    margin-top: 20px;
  }

  .about-one {
    min-width: 40px;
    padding: 10px;
  }

  .about-two {
    min-width: 160px;
    padding: 20px 10px;
  }

  .about-card-img {
    max-height: 300px;
  }

  /*---------------------------------------------------- 
  offer-section 
  -------------------------------------------------------*/

  .offer-section {
    padding: 80px 0 120px;
  }

  .offer-para {
    font-size: 18px;
  }

  .offer-sub-para {
    font-size: 16px;
  }

  /*----------------------------------------------------- 
  footer-section
  --------------------------------------------------- */

  .footer-brand {
    top: -15%;
    transform: translate(-50%, 90%);
  }

  .footer-item {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .footer-para {
    font-size: 16px;
  }

  .footer-third-part::after {
    top: 120%;
    /* width: 230px; */
  }

  .social-item {
    margin-right: 4px;
  }
  .footer-btm-para-one {
    font-size: 18px;
  }

  .footer-btm-para-one > a {
    font-size: 18px;
  }

  .footer-btm-para-two {
    font-size: 16px;
    margin-top: 5px;
  }

  .btm-one-img {
    margin-right: 2px;
  }
}
