/*============================================================================================================================== 
import-font
=============================================================================================================================== */
/*----------------------------------------------------------------------------------
 playfair-display-fonts
 --------------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/*----------------------------------------------------------------------------------
  poppin-font 
  -----------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*============================================================================================================================== 
global-css
=============================================================================================================================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*===============================================================================================================================
 common-section 
 ===============================================================================================================================*/
.container {
  max-width: 1710px;
}

.container-sm {
  max-width: 1428px;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  margin: 0 10px;
}

html {
  overflow-x: hidden;
}

/*-----------------------------------------------------
 color
 ------------------------------------------------------ */
:root {
  --primary-color: #a68268;
  --secoendary-color: #f2f2f2;
  --secoendary-color-silver: #e8e7e6;
  --tersiary-color: #f7f8fc;
  --text-color: #312319;
  --text-color-silver: #f7eede;
  --text-color-brown: #7f604a;
  --line-color: #dfcbbd;
  --slider-button-color: #e3cab8;
}
.col-24 {
  width: 20%;
  padding: 0 15px;
}

.tittle-one {
  font-size: 153.2px;
  font-weight: 400;
  line-height: 100%;
  font-family: "Playfair Display", serif !important;
  color: white;
}

.tittle-one > span {
  font-style: italic;
}

.tittle-two {
  font-size: 57px;
  font-weight: 700;
  line-height: 100%;
  font-family: "Playfair Display", serif !important;
  color: black;
}

.tittle-two > span {
  font-size: 57px;
  font-weight: 700;
  line-height: 100%;
  font-family: "Playfair Display", serif !important;
  color: var(--primary-color);
}

/*===============================================================================================================================
 header-section 
 ===============================================================================================================================*/
header {
  padding: 50px 0 10px;
}

.nav-search > img {
  max-width: 30px;
  width: 100%;
  object-fit: contain;
}

.nav-search {
  border: none;
  background: transparent;
}

.nav-search + input#search {
  border: none;
}

#search:focus {
  outline: none;
}

.navbar-brand > a > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.navbar-brand > a {
  max-width: 171px;
}
.navbar-brand {
  left: 50%;
  transform: translate(-50%, 25%);
}

.nav-item {
  margin-right: 32px;
}

.friends-btn > img {
  max-width: 30px;
  width: 100%;
  object-fit: contain;
  margin-left: 32px;
}

.cart-btn > img {
  max-width: 30px;
  width: 100%;
  object-fit: contain;
  margin-left: 32px;
}

.hrt-btn > img {
  max-width: 30px;
  width: 100%;
  object-fit: contain;
  margin-left: 42px;
}

.nav-right-right {
  margin-right: 150px;
}
.nav-link-a {
  margin-right: 5px;
}
.nav-link-b {
  margin-left: 50px;
}

.navbar-nav {
  flex-grow: 2;
}

/*-------------------------------------------------------------------------
 nav-link-hover-effect
 -------------------------------------------------------------------------- */
.nav-link {
  width: 90px;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color);
}

.nav-link::before {
  content: "";
  height: 8px;
  width: 0px;
  border-radius: 50%;
  background: var(--primary-color);
  position: absolute;
  top: 120%;
  left: 40%;
  transform: translate(-50%, -50%);
  transition: all 0.6s linear;
}

.nav-link:hover::before {
  width: 8px;
}

/*---------------------------------------------------------------- 
navbar-toggler
---------------------------------------------------------------- */
.navbar-toggler {
  border: 5px solid var(--primary-color);
}

/*-----------------------------------------------------------------
 offcanvas
 ---------------------------------------------------------------- */
.offcanvas-title {
  color: var(--primary-color);
  font-size: 32px;
  margin-right: 20px;
}

.btn-close {
  border: 5px solid var(--primary-color);
}
/*==========================================================================================================================
   banner-section/hero-section
   ========================================================================================================================== */
.banner-wrpr {
  min-height: 100vh;
  background: url("../asset/images/Frame\ 28\ \(1\).png");
  background-repeat: no-repeat;
  border-top-left-radius: 62.1px;
  border-top-right-radius: 62.1px;
  border-bottom-left-radius: 62px;
  border-bottom-right-radius: 62px;
  background-position: center;
  background-size: cover;
}

.banner-card {
  display: flex;
  align-items: center;
}

.sub-para {
  max-width: 413px;
  font-size: 24px;
  font-weight: 400;
  line-height: 42px;
  color: var(--text-color-silver);
  margin: 10px 0;
}

.primary-btn {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color-silver);
  position: relative;
}

.primary-btn::after {
  content: "";
  height: 1px;
  width: 112px;
  background: white;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%);
}

/*---------------------------------------------------------------------- 
primary-btn-hover-effect 
-----------------------------------------------------------------------*/

.primary-btn:hover {
  color: var(--text-color);
}

.active {
  color: var(--text-color) !important;
}

/*============================================================================================================================= 
banner-btm-section
=============================================================================================================================== */

.banner-btm-section {
  padding-top: 10px;
}

.banner-sign > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.banner-sign {
  max-width: 64px;
}

.banner-card {
  max-width: 345px;
}

.banner-btm-para {
  font-size: 17px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color);
}
/*===============================================================================================================================
    about-section 
    ===========================================================================================================================*/
.about-section {
  padding-top: 90px;
  text-align: center;
}

.about-sub-para {
  font-size: 32px;
  font-weight: 300;
  line-height: 100%;
  color: var(--text-color);
  margin-top: 60px;
}

.about-para {
  max-width: 1231px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
}

.about-hed {
  position: relative;
}

.about-hed::after {
  content: "";
  height: 257.71px;
  width: 231px;
  background: url("../asset/images/floral\ \(1\)\ 1.png");
  position: absolute;
  top: -50px;
  transform: translate(-100%);
}
/*========================================================================================================================== 
    discover-section 
    ===========================================================================================================================*/
.discover-section {
  padding: 115.29px 0 125px;
}

/*--------------------------------------------------------
discover-top 
---------------------------------------------------------*/

.discover-top {
  text-align: center;
}

.discover-card {
  max-width: 450px;
  position: relative;
}

.discover-top > h2 {
  margin-bottom: 54px;
}

.discover-para {
  max-width: 761px;
  font-size: 32px;
  font-weight: 300;
  line-height: 100%;
  color: var(--text-color);
  margin-bottom: 50px;
}

/*----------------------------------------------------- 
discover-img-one
------------------------------------------------------- */

.discover-img-one {
  max-width: 450px;
}

.discover-img-one > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.discover-img-one:hover::after {
  content: "What we doing?";

  height: 48px;
  width: 357px;
  position: absolute;
  top: 65%;
  right: 1%;
  color: white;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
}

/*---------------------------------------------------------- 
discover-img-two 
----------------------------------------------------------*/

.discover-img-two {
  max-width: 450px;
}

.discover-img-two > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.discover-img-two:hover::after {
  content: "Our Mission & Vision";
  height: 48px;
  width: 320px;
  position: absolute;
  top: 65%;
  right: 10%;

  color: white;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
}

/*------------------------------------------------------------
 discover-img-three 
 ------------------------------------------------------------*/

.discover-img-three {
  max-width: 450px;
}

.discover-img-three > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.discover-img-three:hover::after {
  content: "History of Us";
  height: 48px;
  width: 196px;
  position: absolute;
  top: 65%;
  right: 25%;
  color: white;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
}

/*==========================================================================================================================
     products-section
     ==========================================================================================================================*/
.product-section {
  background: var(--secoendary-color);
  border-radius: 65px;
  position: relative;
}
.product-wrp {
  padding: 60px 52px 72px;
}

.product-section::before {
  content: "";
  height: 135px;
  width: 135px;
  background: url("../asset/images/lavender\ 2.png");
  position: absolute;
  top: 0;
  right: 0;
}

/*-------------------------------------------------------------
 product-top 
 ------------------------------------------------------------*/
.product-top {
  position: relative;
}

.product-top::after {
  content: "";
  height: 1px;
  width: 881px;
  background: var(--line-color);
  position: absolute;
  bottom: -20%;
  left: 26%;
  transform: translatey(45%);
}

.product-para {
  font-size: 32px;
  font-weight: 300;
  line-height: 100%;
  color: var(--text-color);
  margin: 10px 0 48px;
}

/*------------------------------------------------------------- 
product-mid-card
--------------------------------------------------------------- */

.swiper {
  max-width: 1747px;
  height: 428px;
  position: relative;
}
.product-wrapper {
  max-width: 1717px;
  max-height: 600px;
}
.product-card {
  max-width: 412px;
  max-height: 600px;
}
.product-card {
  max-width: 407px;
  height: 400px;
  padding: 17px;
  border-radius: 41px;
  background: white;
}
.first-part {
  max-width: 87px;
  max-height: 38px;
  padding: 4px 11px 4px 9px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 300;
  line-height: 100%;
  background: var(--secoendary-color-silver);
}
.product-img-one > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-img-one {
  max-width: 360px;
  max-height: 363px;
  margin: 0 auto;
}

.product-img-two > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-img-two {
  max-width: 340px;
  max-height: 343px;
  margin: 0 auto;
}

.product-img-three > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-img-three {
  max-width: 346px;
  max-height: 354px;
  margin: 0 auto;
}

.product-img-four > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-img-four {
  max-width: 259px;
  height: 239px;
  margin: 0 auto;
}
.card-mid-top {
  display: flex;
  justify-content: space-between;
}

.product-sub {
  max-width: 87px;
  height: 38px;
  padding: 10px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 300;
  line-height: 100%;
  color: black;
  background: var(--secoendary-color-silver);
}

/*----------------------------------------------------------- 
product-btm
----------------------------------------------------------- */
.swiper2 {
  max-width: 1717px;
  max-height: 78px;
}
.product-btm-wrapper {
  max-width: 1717px;
  max-height: 78px;
}

.product-sm-card-one {
  max-width: 340px;
  max-height: 76px;
  border-radius: 50px;
  background: white;
  padding: 12px 45px 13px 16px;
}

.product-sm-card-two {
  max-width: 340px;
  max-height: 76px;
  border-radius: 50px;
  background: white;
  padding: 12px 31px 13px 16px;
}

.product-sm-card-three {
  max-width: 340px;
  max-height: 76px;
  border-radius: 50px;
  background: white;
  padding: 12px 31px 13px 16px;
}

.product-sm-card-four {
  max-width: 340px;
  max-height: 76px;
  border-radius: 50px;
  background: white;
  padding: 12px 6px 12px 16px;
}

.product-btm-hed {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  color: var(--text-color);
}

.product-btm-para {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: var(--text-color-brown);
}
/*==========================================================================================================================
     choose-section 
     ==========================================================================================================================*/
.choose-section {
  padding: 145px 0 170px;
}

/*----------------------------------------------------- 
chhose-cntn-top
----------------------------------------------------- */
.choose-para {
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  color: black;
  margin: 10px 0 74px;
}

/*------------------------------------------------------
 choose-cntn
 ----------------------------------------------------- */

.sign-img {
  max-width: 96px;
  margin-right: 54px;
}

.sign-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.sign-para {
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
}

.sign-sub-para {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}

.choose-cntn {
  margin-bottom: 10px;
}

/*----------------------------------------------------------- 
choose-img 
------------------------------------------------------------*/

.choose-img {
  max-width: 679px;
  display: flex;
  align-items: center;
}

.choose-img-one > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.choose-img-one {
  max-width: 315px;
  transition: 0.6s linear infinite;
}

.choose-img-one:hover {
  transform: translateY(-10%);
}

.choose-img-two > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.choose-img-two {
  max-width: 321px;
  margin-top: 124px;
  margin-left: 43px;
  transition: 0.6s linear infinite;
}

.choose-img-two:hover {
  transform: translateY(10%);
}
/*===========================================================================================================================
     newsletter-section
     ========================================================================================================================= */
.newsletter-section {
  min-height: 558px;
  max-width: 1820px;
  background: url("../asset/images/Frame\ 96.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 65px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------------------------------------------------
 newsletter-cntn 
 -----------------------------------------------------*/

.newsletter-cntn {
  max-width: 516px;
  z-index: 99;
}
.news-hed {
  font-size: 92px;
  font-weight: 700;
  line-height: 100%;
  font-family: "Playfair Display", serif !important;
  color: white;
  margin: 34px 0;
}

.news-sub {
  font-size: 57px;
  font-weight: 700;
  line-height: 100%;
  font-family: "Playfair Display", serif !important;
  color: white;
}

.newsletter-btn {
  max-width: 491px;
  padding: 16px 15px;
  border-radius: 50px;
  background: white;
}

.news-btn {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: black;
}

/*--------------------------------------------------------------
 newsletter-img
 ------------------------------------------------------------- */

.newsletter-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.newsletter-img {
  max-width: 1057px;
  max-height: 714px;
  position: absolute;
  bottom: 1%;
  left: -10%;
  z-index: 999;
}

/*========================================================================================================================== 
    customer-section
    ========================================================================================================================== */
.customer-section {
  padding: 110px 0 148px;
}

/*--------------------------------------------------------------- 
customer-top 
---------------------------------------------------------------*/

.customer-top {
  max-width: 661px;
  margin: 0 auto;
  text-align: center;
}

.cust-hed {
  max-width: 661px;
  position: relative;
}

.cust-para {
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color);
  margin: 50px 0 82px;
}

.cust-hed::before {
  content: "";
  height: 257.71px;
  width: 231px;
  background: url("../asset/images/floral\ \(1\)\ 1.png");
  position: absolute;
  top: -80%;
  left: 35%;
}
/*------------------------------------------------------------- 
customer-btm
------------------------------------------------------------ */

.test-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.test-img {
  max-width: 144px;
  max-height: 144px;
  border-radius: 70px;
  margin: 0 auto;
  border: 3px solid var(--primary-color);
}

/* ////////////////////////////////////////////////////// */

.testimonialSwiper {
  max-width: 1819px;
  max-height: 800px;
}

.swiper-wrapper {
  align-items: center;
}

/*------------------------------------------------------ 
small-card
----------------------------------------------------- */
.small-card {
  max-width: 238px;
  max-height: 532px;
  padding: 64px 47px 32px;
  border: 1px solid var(--line-color);
  text-align: center;
  border-radius: 40px;
}

.small-card h4 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color);
  margin: 56px auto 0px;
}

/*---------------------------------------------------- 
main-card 
-----------------------------------------------------*/

.main-card {
  max-width: 643px;
  max-height: 532px;
  padding: 16px 21px 8px;
  border: 1px solid var(--line-color);
  text-align: center;
  border-radius: 40px;
}

.main-card h4 {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  color: var(--primary-color);
  font-weight: 400;
  line-height: 100%;

  margin: 18px auto;
}

.main-card p {
  max-width: 603px;

  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color);
}

.main-card > span {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  position: relative;
}

.main-card > span::before {
  content: "";
  height: 38px;
  width: 38px;
  background: url("../asset/images/History.png");
  position: absolute;
  left: -35%;
  bottom: -5%;
}



/*==========================================================================================================================
     beauty-journal-section
     ======================================================================================================================== */
.journal-section {
  background: var(--secoendary-color);
  border-radius: 65px;
  position: relative;
}

.journal-section::after {
  content: "";
  height: 213.15px;
  width: 213.15px;
  background: url("../asset/images/flower\ \(2\)\ 1.png");
  position: absolute;
  top: -50px;
  right: 15px;
}

.journal-wrp {
  padding: 68px 35px 84px 38px;
}

/*----------------------------------------------------------------- 
journal-top 
------------------------------------------------------------------*/
.journal-top {
  position: relative;
}
.journal-top::after {
  content: "";
  height: 1px;
  width: 631px;
  background: var(--line-color);
  position: absolute;
  bottom: 10%;
  left: 26%;
  transform: translate(45%, 45%);
}
.journal-sub-para {
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  margin: 30px 0 123px;
}

/****************************************************************** 
swiper
***************************************************************** */

.swiper3 {
  max-width: 1747px;
  height: 428px;
  position: relative;
}

.beauty-journal-card {
  max-width: 409px;
}

.journal-img {
  max-width: 410px;
}

.journal-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.journal-card {
  max-width: 409px;
  max-height: 86px;
  padding: 18px 23px;
  border-radius: 50px;
  background: white;
  color: var(--text-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  position: absolute;
  transform: translateY(-30%);
  text-align: center;
}
/*---------------------------------------------------
 journal-navigation 
 --------------------------------------------------*/

.journal-navigation {
  display: flex;

  align-items: center;
  gap: 10px;
}

.swiper-button-prev {
  position: absolute;
  top: 170px;
  left: 89%;
  color: #b47b53;
  background-color: transparent;
  border: 1px solid var(--slider-button-color);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s linear;
}

.swiper-button-next {
  position: absolute;
  top: 170px;
  right: 50px;
  color: #b47b53;
  background-color: transparent;
  border: 1px solid var(--slider-button-color);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #b47b53;
  color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none !important;
  box-shadow: none !important;
}

.journal-card-para {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color);
}

/*======================================================================================================================== 
    offer-section 
    ===========================================================================================================================*/
.offer-section {
  padding: 162px 0 238px;
}

/*------------------------------------------------------------------------- 
offer-card
------------------------------------------------------------------------ */
.offer-card {
  position: relative;
}

.offer-card::after {
  content: "";
  height: 206px;
  width: 1px;
  background: var(--secoendary-color-silver);
  position: absolute;
  left: 100%;
}

/*------------------------------------- 
offer-card-img-one 
--------------------------------------*/

.offer-card-img-one {
  max-width: 106px;
}

.offer-card-img-one > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/*--------------------------------------- 
offer-card-img-two 
----------------------------------------*/

.offer-card-img-two {
  max-width: 104px;
}
.offer-card-img-two > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/*--------------------------------------- 
offer-card-img-three
-------------------------------------- */

.offer-card-img-three {
  max-width: 119px;
}
.offer-card-img-three > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/*----------------------------------------- 
offer-card-img-four
----------------------------------------- */

.offer-card-img-four {
  max-width: 108px;
}
.offer-card-img-four > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/*------------------------------ 
offer-card-para & sub-para 
--------------------------------*/

.offer-para {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color);
  margin-bottom: 6px;
}

.offer-sub-para {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: black;
}

/*============================================================================================================================
    footer-section 
    ===========================================================================================================================*/
.footer-section {
  background: var(--secoendary-color);
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
}

.footer-wrp {
  padding: 138px 53px 52px;
  position: relative;
}

/*------------------------------- 
footer-brand 
--------------------------------*/

.footer-brand > a > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.footer-brand > a {
  max-width: 144px;
}

.footer-brand {
  max-width: 144px;
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translate(-50%, 25%);
}

.pay-item > a > img {
  max-width: 72px;
  width: 100%;
  object-fit: contain;
}
.pay-list {
  max-width: 474px;
}

.pay-item {
  max-width: 72px;
  margin-left: 8px;
  margin-bottom: 10px;
  transition: 0.6s linear;
}

.pay-item:hover {
  border: 2px solid var(--primary-color);
}

/*-------------------------------- 
social-icon 
--------------------------------*/

.social-icon > ul {
  max-width: 298px;
  margin: 0 auto;
}

.social-item {
  max-width: 34px;
  margin-right: 32px;

  position: relative;
}

.social-item > a > img {
  max-width: 34px;
  width: 100%;
  object-fit: contain;
}

.social-item::after {
  content: "";
  height: 6px;
  width: 0px;
  border-radius: 50%;
  background: var(--text-color);
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.6s linear;
}

.social-item:hover::after {
  width: 6px;
}

/*---------------------------------- 
footer-item
----------------------------------*/
.footer-item {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 50px;
}

.footer-link {
  color: var(--text-color);
}

.prior {
  display: inline-block;
  margin-right: 5px;
}

.main {
  margin-top: 60px;
}

.footer-hed {
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 30px;
  color: var(--text-color-brown);
}

.footer-para {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color-brown);
  margin-bottom: 54px;
}

.footer-third-part {
  margin-top: 42px;
  position: relative;
}

.footer-third-part::after {
  content: "";
  height: 1px;
  width: 1320px;
  background: var(--text-color-brown);
  position: absolute;
  top: 150%;
}

.footer-fourth-part {
  margin-top: 37px;
}

.footer-btm-para-one {
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
  color: black !important;
  margin-top: 20px;
}

.footer-btm-para-one > a {
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
  color: black !important;
}

.footer-btm-para-two {
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
  color: black !important;
  margin-top: 20px;
}

.btm-one-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.btm-one-img {
  max-width: 35px;
  margin-right: 15px;
}

/*------------------------------------------------------------------------ 
footer-link-hover-effect
------------------------------------------------------------------------ */

.footer-item {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 50px;
}

.footer-link {
  color: var(--text-color);
  position: relative;
  transition: 0.6s linear;
}

.footer-link::before {
  content: "";
  height: 2px;
  width: 0;
  background: var(--text-color);
  position: absolute;
  top: 100%;
  transition: 0.6s linear;
}

.footer-link:hover {
  color: var(--primary-color);
  transition-delay: 0.6s;
}

.footer-link:hover::before {
  width: 100%;
}
